<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .row{height: 6em}
        .bg-dark-pink{background-color: #6a0135}
        .nav-link{font-size: 20px;}
    </style>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet"> <!--google font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"> <!--icon-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!--boostrap-->
    
    <!-- {% block head %} -->

    <title>魔女食堂(帳號管理)</title>
    <style>
        .account-field{
            margin-top: 60px;margin-left: 20%;margin-right: 20%;
            padding-left: 15%;padding-right: 15%;padding-bottom: 15px;
            border-radius: 40px;
            border: 2px solid black;
            background-color: rgb(255, 247, 254);
        }
        .account-enter{
            /* padding: 3px;
            font-size: 18px; */
            border: 2px solid rgb(193, 193, 193);border-radius: 5px;
            margin-bottom: 12px;
            width: 100%;
        }
        #login{
            display: block;
        }
        #register{
            display: none;
        }
    </style>

    <!-- {% endblock %} -->
</head>

<body style="font-family: 'Noto Sans TC', sans-serif;">
    <nav class="navbar navbar-expand-sm bg-dark-pink navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">飲食紀錄</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">推薦</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="account">帳號管理</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- {% block main %} -->

    <div class="account-field" id="login">
        <h3 style="padding-top: 10px;text-align: center;margin-bottom: 25px;">登入(Login)</h3>
        <form method="post" action="https://www.twitch.tv/">
            <div>帳號：<input class="account-enter" type="text" name="account"></input></div>
            <div>密碼：<input class="account-enter" type="text" name="password"></input></div>
            <button style="text-align: center; background-color: #04AA6D; height: 35px; width: 100%; margin-top: 20px; margin-bottom: 10px;">LOGIN</button>
            <div>沒有帳號? <span onclick="register()" style="cursor: pointer; color: blue; text-decoration: underline;">點擊註冊</span></div> 
        </form>
    </div>

    <div class="account-field" id="register">
        <h3 style="padding-top: 10px;text-align: center;margin-bottom: 25px;">註冊(Register)</h3>
        <form action="#">
            <div>帳號：<input class="account-enter" type="text" name="account"></input></div>
            <div>密碼：<input class="account-enter" type="text" name="password"></input></div>
            <button style="text-align: center; background-color: #c78800; height: 35px; width: 100%; margin-top: 20px; margin-bottom: 10px;">REGISTER</button>
            <div>已經有帳號了? <span onclick="login()" style="cursor: pointer; color: blue; text-decoration: underline;">點擊登入</span></div> 
        </form>
    </div>

    <script>
        function register(){
            let login = document.querySelector("#login")
            let register = document.querySelector("#register")
            login.style.display = "none"
            register.style.display = "block"
        }
        function login(){
            let login = document.querySelector("#login")
            let register = document.querySelector("#register")
            login.style.display = "block"
            register.style.display = "none"
        }
    </script>
    
    <!-- {% endblock %} -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</body>
</html>
